In [33]:
import os

os.chdir('C:\\Users\\sredekar\\OneDrive - Interpublic\\Desktop\\Datascience\\NLP\\End To End Text Summarizer appl\\TextSummarizer\\Data')

%pwd

'C:\\Users\\sredekar\\OneDrive - Interpublic\\Desktop\\Datascience\\NLP\\End To End Text Summarizer appl\\TextSummarizer\\Data'

In [34]:
import json

# Load JSON data

with open('test.json', 'r', encoding='utf-8') as json_file:
    test = json.load(json_file)

# Load JSON data with specified encoding
with open('train.json', 'r', encoding='utf-8') as json_file:
    train = json.load(json_file)

# Load JSON data
with open('val.json', 'r', encoding='utf-8') as json_file:
    val = json.load(json_file)


# Check the loaded data
print(test)
print(train)
print(val)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [35]:
import json

def json_to_csv(input_file, output_file):
    with open(input_file, 'r', encoding='utf-8') as json_file:
        data = json.load(json_file)

    with open(output_file, 'w', newline='', encoding='utf-8') as csv_file:
        writer = csv.writer(csv_file)
        
        # Write headers
        headers = data[0].keys() if data else []
        writer.writerow(headers)
        
        # Write rows
        for item in data:
            writer.writerow(item.values())

# Example usage
json_to_csv('test.json', 'test.csv')
json_to_csv('train.json', 'train.csv')
json_to_csv('val.json', 'val.csv')

In [36]:
import pandas as pd

# Load CSV file into DataFrame
test_df = pd.read_csv('test.csv')

# Display the first few rows
test_df.head()

,id,summary,dialogue
0,13862856,Hannah needs Betty's number but Amanda doesn't...,"Hannah: Hey, do you have Betty's number?\nAman..."
1,13729565,Eric and Rob are going to watch a stand-up on ...,Eric: MACHINE!\r\nRob: That's so gr8!\r\nEric:...
2,13680171,Lenny can't decide which trousers to buy. Bob ...,"Lenny: Babe, can you help me with something?\r..."
3,13729438,Emma will be home soon and she will let Will k...,"Will: hey babe, what do you want for dinner to..."
4,13828600,Jane is in Warsaw. Ollie and Jane has a party....,"Ollie: Hi , are you in Warsaw\r\nJane: yes, ju..."